---
import Layout from "@/layouts/Layout.astro";
---


<Layout
  title="THE FIENDS | Equipo de ESPORTS  "
  description="Descubre a una de las futuras promesas de Latinoamerica en el mundo de los esports Ven y conoce la innovación y talento de THE FIENDS con sus roaster de Overwatch"
  >	



  <main>
    <h1 class="text-4xl text-center">QUIENES SOMOS</h1>
  </main>