---
import Layout from "@/layouts/Layout.astro"
import FiendsRoasters from "@/components/FiendsRoasters.astro"
---


<Layout
  title="THE FIENDS | Equipo de ESPORTS  "
  description="Descubre a una de las futuras promesas de Latinoamerica en el mundo de los esports Ven y conoce la innovación y talento de THE FIENDS con sus roaster de Overwatch"
  >	

  <div
   id="roasterlist-container"
   class="relative transition-all duration-1000   " >


  <!--page header -->


  
  <div class="flex   z-10 px-6 pt-10">
    <span class="absolute mx-auto py-5 md:py-10 flex  w-fit bg-gradient-to-r blur-sm from-slate-300 via-slate-200 to-slate-100 bg-clip-text text-3xl md:text-7xl box-content font-bold text-transparent  select-none">
       Roasters-Overwatch
    </span>

    <h1 class="relative top-0 w-fit h-auto py-5 md:py-10  flex bg-gradient-to-r  from-slate-300 via-slate-200 to-slate-100 bg-clip-text  text-3xl  md:text-7xl font-bold text-transparent  select-auto">
      Roasters-Overwatch
    </h1>
</div>


<section class="my-5  ">

  <div  id= "roast" class="relative   ">
      <main class="rounded-lg  w-full mb-32">
       <FiendsRoasters/>
      </main>
  </div>

</section>


</div>

