---
import Layout from '../layouts/Layout.astro';
import Info from '@/sections/Info.astro';
import Principal from '@/sections/Principal.astro';
import Hero from '@/sections/Hero.astro';
import Down from '@/sections/Down.astro';
---

<!--para instalar animaciones de midu pnpm add @midudev/tailwind-animations no me deja usar spin por eso -->
<Layout
  title="THE FIENDS | ESPORTS "
  description="Descubre a una de las futuras promesas de Latinoamerica en el mundo de los esports Ven y conoce la innovación y talento de THE FIENDS con sus roaster de Overwatch"
  >	
	

		
		
		<Hero/>

	

	
	<main>

		<Principal/>

		<Info/>

		<Down/>

	</main>
	
</Layout>

<style>
	
</style>
