---
import Layout from '../layouts/Layout.astro';
import Header from '@/sections/Header.astro';
import Footer from '@/sections/Footer.astro';
import Info from '@/sections/Info.astro';
import Principal from '@/sections/Principal.astro';
import Hero from '@/sections/Hero.astro';
import Down from '@/sections/Down.astro';
---

<!--para instalar animaciones de midu pnpm add @midudev/tailwind-animations no me deja usar spin por eso -->
<Layout title="THE-FRIENDS">
<Hero/>
	
	<main>
		<Principal/>

		<Info/>

		<Down/>

	</main>
	<Footer/>
</Layout>

<style>
	
</style>
