---
import LiteVideo from "@/components/LiteVideo.astro"

---

<section class="my-28 flex  flex-col gap-y-18 justify-center items-center text-center  ">

    
    <span class="flex justify-center items-center mb-12 font-bold text-xl md:text-3xl ">

        Revive la participación de THE FIENDS en la Gamergy 2023  ¡Vuelve a disfrutar del evento!
    </span>
   
           
 

            <LiteVideo
                videoId="QjgMumjn0rM"
                videotitle="Reproducir la Gamergy 2023 con la participación de The Fiends"
                backgroundImage="@/imgs/daygame.png"
                title="Reproducir el evento con l aparticipación de THE FIENDS"
            />
   


        <span class="flex justify-center items-center mt-12 font-bold text-xl md:text-4xl text-red-900 animate-pulse">

            ¡Somos los demonios de pico largo!
        </span>
</section>