---


---

<section class="my-28 flex  flex-col gap-y-18 justify-center items-center">
<img class=" hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white transition duration-500 ease-in-out rounded-xl  object-cover w-auto sm:h-80 h-56  transition duration-500 hover:scale-105" loading="lazy" 
        src="../src/icons/logo.png" alt="">


        <span class="flex justify-center items-center my-3 font-bold text-xl md:text-4xl text-red-900 animate-pulse">

            ¡Somos los demonios de pico largo!
        </span>
</section>