---
import Overwatch from "@/icons/Overwatch.astro"


---

<section class="flex flex-col justify-center items-center">

    <span class="flex  justify-center items-center text-xl  uppercase  px-2 py-1  mb-4 font-medium
        animate-fade-in animate-delay-300">
        Presentación oficial de la web de The Friends
    </span>


    <span class=" m-1 hover:drop-shadow-[1px_0px_10px_var(--tw-shadow-color)] shadow-white transition duration-500 ease-in-out">
        <Overwatch className="w-[250px] md:w-[350px] h-auto animate-fade-in-up" title="Overwatch "/>  
    </span>

</section>
