---
import Badge from "@/components/Badge.astro"
---

<section class="mt-5 mx-auto animate-fade-in animate-delay-500  flex  flex-col justify-center items-center text-center ">

    <p class="mt-5 text-center font-semibold ">Somos la plaga que se extiende a través de sus victorias y se fortalece con las derrotas. </p>

    <span class="flex justify-center my-3 font-medium text-red-900">

        ¡Somos los demonios de pico largo!
    </span>
   
    <div class="flex justify-center mt-10  animate-zoom-in">
        
        <a 
        href="https://chat.whatsapp.com/IX1MsS0b5J55JKMzuNj8YG"
        target="_blank" 
        rel="noopener"
        
        >
  <!--target="_blank"abrirá enlaces en una nueva pestaña cada vez. -->
            <Badge >Unete y se parte de esta comunidad </Badge>
        </a>
    </div>
        
    
    


</section>